<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="testng.failscripts.Annotation"/>
    </listeners>
    <parameter name="browserName" value="edge"/>
    <parameter name="userName" value="standard_user"/>
    <parameter name="password" value="secret_sauce"/>
    <test verbose="3" preserve-order="true" parallel="false" thread-count="3" name="C:/Users/Ganesh/IdeaProjects/Selenium_19_Jan_26">
        <classes>
            <class name="testng.failscripts.DemoFailScriptsRun"/>
        </classes>
    </test>
</suite>